

Tasks/VsTestV1/*    @cltshivash

Tasks/VsTestV2/*    @cltshivash

Tasks/VsTestPlatformToolInstallerV1/*   @cltshivash

Tasks/WindowsMachineFileCopyV1/*    @kmkumaran

Tasks/WindowsMachineFileCopyV2/*    @kmkumaran

Tasks/XamarinAndroidV1/*    @madhurig

Tasks/XamariniOSV2/*    @madhurig

Tasks/XamarinTestCloudV1/*      @madhurig

Tasks/XcodeV5/* @madhurig

* @kwacky2
