

Tasks/PowerShellOnTargetMachinesV1/*    @kmkumaran

Tasks/PowerShellOnTargetMachinesV2/*    @kmkumaran

Tasks/PowerShellOnTargetMachinesV3/*    @kmkumaran

Tasks/PublishBuildArtifactsV1/*     @madhurig

Tasks/PublishCodeCoverageResultsV1/*    @madhurig

Tasks/PublishPipelineArtifactV0/*       @mihaif

Tasks/PublishSymbolsV2/*    @arunkm

Tasks/PublishTestResultsV1/*    @smalpani

Tasks/PublishTestResultsV2/*    @SadagopanRajaram

Tasks/PublishToAzureServiceBusV1/*      @bansalaseem

Tasks/PyPIPublisherV0/*     @sachinma   @madhurig

Tasks/PythonScriptV0/*      @madhurig

Tasks/QueryWorkItemsV0/*    @bansalaseem

Tasks/QuickPerfTestV1/*     @smalpani

Tasks/RunDistributedTestsV1/*   @smalpani

Tasks/RunJMeterLoadTestV1/*     @smalpani

Tasks/RunLoadTestV1/*   @cltshivash

Tasks/ServiceFabricComposeDeployV0/*    @sachinma

Tasks/ServiceFabricDeployV1/*   @sachinma

Tasks/ServiceFabricPowerShellV1/*   @sachinma

Tasks/ServiceFabricUpdateManifestsV2/*  @sachinma

Tasks/SqlAzureDacpacDeploymentV1/*      @kmkumaran

Tasks/SqlDacpacDeploymentOnMachineGroupV0/*     @kmkumaran

Tasks/SqlServerDacpacDeployment/*   @kmkumaran

Tasks/SshV0/*   @madhurig

Tasks/TwineAuthenticateV0/*     @zackrun

Tasks/UniversalPackagesV0/*     @zackrun

Tasks/UsePythonVersionV0/*      @madhurig

Tasks/UseRubyVersionV0/*    @hross

Tasks/VSBuildV1/*   @daveken

Tasks/VsTestV1/*    @cltshivash

Tasks/VsTestV2/*    @cltshivash

Tasks/VsTestPlatformToolInstallerV1/*   @cltshivash

Tasks/WindowsMachineFileCopyV1/*    @kmkumaran

Tasks/WindowsMachineFileCopyV2/*    @kmkumaran

Tasks/XamarinAndroidV1/*    @madhurig

Tasks/XamariniOSV2/*    @madhurig

Tasks/XamarinTestCloudV1/*      @madhurig

Tasks/XcodeV5/* @madhurig

* @kwacky2
